<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Encuentra tu IP</title>
    <link rel="stylesheet" type="text/css" href="/asset/css/styles.css">

  </head>
  <body>
    <header class="headers-class">
      <h1>Encuentra tu IP</h1>
      <p>Aquí encontrarás toda la información sobre tu IP</p>
    </header>
    <main>
      <form action="" class="search-bar">
        <input type="search" name="search" pattern=".*\S.*" required>
        <button class="search-btn" type="submit">
          <span>Search</span>
        </button>
      </form>
      <h4>TU IP</h4>  
      <p>{{ ipInfo?.ip?.ip || 'No disponible' }}</p>  
      <p>INFORMACION</p>  
      <ol>  
        <li>SIGLAS PAIS: {{ ipInfo?.ip?.country_short || 'No disponible' }}</li>  
        <li>PAIS: {{ ipInfo?.ip?.country_long || 'No disponible' }}</li>  
        <li>REGION: {{ ipInfo?.ip?.region || 'No disponible' }}</li>  
        <li>CITY: {{ ipInfo?.ip?.city || 'No disponible' }}</li>  
      </ol>
    </main>
  </body>
</html>
